.blog-title{
  background-image: url('../../../../../assets/img/bg-title.jpg');
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
  background-position: center; /* Centraliza a imagem no fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  display: flex;
  height: 30rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.title{
  position: relative;
  height: 40%;
  font-size: 250px;
  padding: 20px auto;
  color: azure;
  font-weight: 900;
}
.subtitle{
  position: relative;
  height: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  font-size: 40px;
  padding: 10px auto;
  color: azure;
  font-weight: 400;
  background-color: red;
}
